#contact > input,
#contact > textarea {
    font-weight: 700;
    text-align: left;
}

#contact > textarea {
    height: 14em;
    height: 40vh;
    margin-top: 1em;
    margin-bottom: 1em;
    resize: none;
}

#contact > .btn {
    text-align: center;
    max-width: 10em;
}

#contact > .error {
    border-color: rgb(255, 0, 0);
}

#sent,
#error {
    padding-top: 0;
}

.background-image {
    background-image: url("/assets/home-background.jpg");
}
