<app-navigation></app-navigation>
<div class="background-image">
  <div id="contact" class="container center-block">
    <h1>Contact</h1>
    <input #subject id="subject" class="form-control center-block"
           autofocus spellcheck="true" autocomplete="off" type="text"
           placeholder="Sujet">
    <textarea #message id="message" class="form-control center-block"
              autofocus spellcheck="true" autocomplete="off"
              placeholder="Que pouvons-nous faire pour vous ?"></textarea>
    <input class="btn btn-primary btn-block center-block"
           (click)="submit(subject, message)" value="Envoyer">
  </div>
  <div *ngIf="sent || error" id="result"
       class="container center-block"
       [class.sent]="sent" [class.error]="error">
    <button class="close" (click)="close()">&times;</button>
    <span *ngIf="sent ">
      <h2>Message envoyé</h2>
      Nous allons essayer de vous recontacter au plus vite !
    </span>
    <span *ngIf="error">
      <h2>Oops, erreur&nbsp;!</h2>
      Votre message n'a pas pu être envoyé. Veuillez réssayer.
    </span>
  </div>
</div>
