<app-navigation></app-navigation>
<div class="background-image">
  <div id="invitation" class="container center-block">
    <h1>{{user.name}}</h1>
    Nous avons le plaisir de vous inviter à notre mariage&nbsp;:
    <div class="information">
      Samedi 22 octobre 2016<br/>
      14h30<br/>
      Mairie, puis église<br/>
      89113, Fleury-la-Vallée
    </div>
    Le mariage sera suivi d'une réception&nbsp;:
    <div class="information">
      Domaine des Granges<br/>
      2 Route de Poilly<br/>
      89110, Poilly-sur-Tholon
    </div>
    <div *ngIf="user.answer == null" id="choice">
      <input id="decline" class="btn btn-primary btn-block center-block"
             type="button" value="Décliner"
             (click)="decline()">
      <input id="accept" class="btn btn-primary btn-block center-block"
             type="button" value="Accepter"
             (click)="accept()">
    </div>
    <div *ngIf="user.answer != null" id="bottom"
         [class.accepted]="user.answer === true"
         [class.declined]="user.answer === false">
      <div>
        <span *ngIf="user.answer === false">
          <h2>Vous avez décliné l'invitation</h2>
          Nous sommes tristes de ne pas pouvoir vous compter parmi nous.<br/>
          <span *ngIf="cancelable()">
            Vous pouvez changer votre réponse jusqu'au 1er septembre.
          </span>
          <span *ngIf="!cancelable()">
            Vous aviez jusqu'au 1er septembre pour changer de réponse.
          </span>
        </span>
        <span *ngIf="user.answer === true">
          <h2>Vous avez accepté l'invitation</h2>
          Nous sommes heureux de vous savoir parmi nous ce jour&nbsp;!<br/>
          Rendez-vous le 22 octobre à 14h30&nbsp;!
        </span>
        <div *ngIf="cancelable()" id="cancel">
          <a (click)="cancel()">Changer ma réponse</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="container center-block popup error">
    <button class="close" (click)="close()">&times;</button>
    <h2>Oops, erreur&nbsp;!</h2>
    Votre réponse n'a pas pu être envoyée. Réessayez plus tard.
  </div>
</div>
