#login {
    width: 20em;
    padding-top: 0;
}

#login > input {
    margin-top: 1em;
    text-align: center;
}

#login > .error {
    border-color: rgb(255, 0, 0);
}

.background-image {
    background-image: url("/assets/home-background.jpg");
}
