.navbar {
    border: 0;
    text-align: left;
}

.navbar .navbar-brand {
    color: rgb(255, 255, 255);

    font-style: italic;
    font-size: 1.4em;
}

.navbar-nav > li > a {
    color: rgb(240, 240, 240);
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.075);
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}
