<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-default navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand hidden-xs">22 octobre</span>
      <a class="navbar-brand visible-xs" style="cursor: pointer"
         data-toggle="collapse" data-target="#navbar"
         aria-expanded="false" aria-controls="navbar">22 octobre</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" *ngIf="!married()" >
          <a [routerLink]="['/invitation']">Invitation</a>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="married()" >
          <a [routerLink]="['/gallery']">Photos</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/menu']">Menu</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/access']">Accès</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/contact']">Contact</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a (click)="disconnect()" [routerLink]="['/login']">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
